@import "bootstrap/scss/bootstrap";

$custom-colors: ("logo-purple": rgb(98, 78, 145), "logo-red":rgb(217, 73, 93));

$theme-colors: map-merge($theme-colors, $custom-colors);

body {
    background-color: map-get($custom-colors, logo-purple);
}

.bg-logo-purple {
    background-color: map-get($custom-colors, logo-purple);
}

.bg-logo-red {
    background-color: map-get($custom-colors, logo-red);
}

.navbar {
    z-index: 1000;
    transition: all 1s;

    .navbar-brand {
        letter-spacing: 0.4em;
        font-weight: thin;

        img {
            display: none;
        }

        @media (max-width: 991.98px) {

            span {
                display: none;
            }

            img {
                display: block;
                width: 32px;
            }
        }
    }

    .navbar-toggler {
        border: none;
        outline: 0;

        &:focus {
            box-shadow: none;
        }
    }

    .nav-link {
        font-size: 1.6em;
        transition: all .5s;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: rgba(white, 50%);
            transition: all .5s;
        }

        &:hover {
            padding-left: 20px;

            &::before {
                width: 100%;
            }
        }
    }
}

.offcanvas {
    --r: 50em;
    background-color: transparent;

    &.offcanvas-start {
        border-right: none;

    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: calc(var(--r)/-2);
        left: calc(var(--r)/-2);
        width: 0;
        height: 0;
        transform: rotate(45deg);
        transform-origin: center;
        background-color: map-get($custom-colors, logo-red);
        transition: all .5s;
    }

    &.show {
        &::before {
            width: var(--r);
            height: var(--r);
        }
    }

    .btn-close {
        background: none;
        font-size: 2.8em;

        &:focus {
            box-shadow: none;
        }
    }
}