$logo-purple: rgb(98, 78, 145);
$logo-red:rgb(217, 73, 93);

.homepage {
    margin: auto;

    .homepage-link-list {
        .homepage-link {
            --r: 15em;
            position: relative;
            text-align: center;
            line-height: var(--r);
            width: var(--r);
            height: var(--r);
            margin: calc(var(--r)/2);
            text-decoration: none;
            animation: slide-in-top 1s ease-out both;

            div {

                font-size: 1.6em;
                color: $logo-purple;
                transition: all .6s;

                &:hover {
                    color: $logo-red;
                }
            }

            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: var(--r);
                height: var(--r);
                background-color: white;
                transform: rotate(45deg);
                transition: all .6s;
            }

            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                top: -5px;
                left: -5px;
                width: calc(var(--r) + 10px);
                height: calc(var(--r) + 10px);
                border: 1px solid white;
                transform: rotate(45deg);
            }

            &:hover {
                &::before {
                    box-shadow: 0 0 2em 10px $logo-red;
                }

                &::after {
                    animation: home-border-scale .8s ease-out infinite;
                }
            }

            @media (max-width: 1399.98px) {
                margin: calc(var(--r)/3);
            }

            @media (max-width: 1199.98px) {
                margin: calc(var(--r)/4);
            }

            @media (max-width: 991.98px) {
                --r: 10em;
                margin: calc(var(--r)/-10);

                &.order-1,
                &.order-3 {
                    animation: scale-in-odd 1s ease-out both;
                }

                &.order-2 {
                    animation: scale-in-even 1s ease-out both;
                }
            }

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    animation-delay: #{$i*0.5}s;
                }
            }
        }
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

$r:15em;

@keyframes scale-in-odd {
    0% {
        transform: translateX(calc(var(--r)/-2.5)) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateX(calc(var(--r)/-2.5)) scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-even {
    0% {
        transform: translateX(calc(var(--r)/2.5)) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateX(calc(var(--r)/2.5)) scale(1);
        opacity: 1;
    }
}

@keyframes home-border-scale {
    0% {
        opacity: 1;
        transform: rotate(45deg) scale(0.96);
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) scale(1.1);
    }
}