.PageWorks {
    .PageWorks-flex {
        margin: 1.6em;
        height: calc(100% - 3.575em);
    }

    .title {
        text-align: center;
    }

    .work-list {
        .work-list-item {
            --r: 20em;
            position: relative;
            display: block;
            width: var(--r);
            height: var(--r);
            color: white;
            background-color: transparent;
            border: none;
            text-decoration: none;
            text-align: center;
            margin: 3em auto;

            .item-img {
                width: var(--r);
                height: var(--r);
                z-index: -1;
                transition: all .5s;

                img {
                    background-color: rgb(217, 73, 93);
                    width: 100%;
                    height: auto;
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    object-fit: cover;
                    transition: all .5s;
                }

                &::before {
                    --s: 14px;
                    --r: calc(20em + var(--s));
                    content: "";
                    position: absolute;
                    top: calc(var(--s)*-0.5);
                    left: calc(var(--s)*-0.5);
                    width: var(--r);
                    height: var(--r);
                    border: 2px solid white;
                    transform-origin: center;
                    transform: rotate(45deg) scale(0.71);
                    transition: all .5s;
                }

                &::after {
                    --r: 20em;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: var(--r);
                    height: var(--r);
                    border: 2px solid white;
                    transform-origin: center;
                    transform: rotate(45deg) scale(0.71);
                }
            }

            .item-info {
                position: relative;
                top: calc(var(--r)/-2);
                opacity: 0;
                transition: all .5s;
                transform: translateY(-50%);

                .item-tag {
                    color: rgba(white, 80%);
                }
            }

            &:hover {

                .item-info {
                    opacity: 1;
                }

                .item-img {
                    img {
                        filter: brightness(60%) saturate(80%);
                    }

                    &::before {
                        animation: work-border-scale .8s ease-out infinite;
                    }
                }
            }

            &:focus {
                border: none;
                box-shadow: none;
            }

            @media (max-width: 991.98px) {
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20em;
                    height: 20em;
                    background-color: white;
                    transform-origin: center;
                    transform: rotate(-45deg) scale(0.71);
                    opacity: 0;
                    transition: all .8s;

                    &:hover {
                        animation: work-border-scale .8s ease-out infinite;
                    }
                }
            }
        }

        @media (min-width: 992px) {
            justify-content: center;
            align-content: center;
            margin: auto;

            .work-list-item {
                margin: 3em -3em;

                &:nth-child(odd) {
                    transform: translateY(calc(var(--r)/-2.5))
                }

                &:nth-child(even) {
                    transform: translateY(calc(var(--r)/2.5))
                }
            }
        }
    }

}

.work-container {
    --margin-em: 0.8em;
    z-index: 1000;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(white, 95%);
    border-radius: 0.375em;
    color: rgba(black, 90%);
    margin: var(--margin-em);

    &.show {
        display: flex;
    }

    .close {
        box-sizing: border-box;
        padding: 0 0.4em;
        background: none;
        font-size: 2.8em;
        color: rgba(black, 50%);
        border: none;

        &:focus {
            box-shadow: none;
        }
    }

    .work-detail {
        position: relative;
        height: 100%;
        margin: var(--margin-em);
        overflow: hidden;

        .work-info {
            height: 100%;
            --margin-em: 0.8em;
            margin: var(--margin-em);
            padding-left: var(--margin-em);

            @media (max-width:991.98px) {
                padding-top: var(--margin-em);
                padding-left: 0;
            }

            .work-name {
                letter-spacing: 0.2em;
                margin-bottom: 0.5em;
            }

            .member-list {
                min-width: 15em;
                max-width: max-content;
                margin: var(--margin-em) 0;
                padding-left: 0;

                .member-item {
                    text-align: left;
                    list-style: none;
                    margin-bottom: var(--margin-em);

                    .member-name {
                        margin-right: var(--margin-em);
                    }

                    .member-position {
                        color: rgba(black, 0.6);
                        font-size: var(--margin-em);
                    }
                }
            }

            .work-describe {
                max-width: 60em;
                margin: var(--margin-em) 0;
            }

            hr {
                border: 0;
                height: 1px;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
            }
        }

        .carouselWork {
            width: 100%;
            height: 100%;
            background-color: black;
            overflow: hidden;

            .carousel-indicators button {
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
                margin-left: 10px;
                margin-right: 10px;
            }

            .carousel-inner {
                width: 100%;
                height: 100%;

                .carousel-item {
                    width: 100%;
                    height: 100%;

                    & img {
                        object-fit: contain;
                        object-position: center center;
                        width: 100%;
                        height: 100%;
                    }

                }
            }

            .carousel-control-prev,
            .carousel-control-next {
                width: 10%;
            }

            .carousel-control-prev:hover {
                background-image: linear-gradient(to left, rgba(black, 0), rgba(black, 0.4));
            }

            .carousel-control-next:hover {
                background-image: linear-gradient(to right, rgba(black, 0), rgba(black, 0.4));
            }

            @media (max-width:991.98px) {
                height: (45 / 64) * 100%;
            }
        }
    }
}

@keyframes work-border-scale {
    0% {
        opacity: 1;
        transform: rotate(45deg) scale(0.69);
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) scale(0.79);
    }
}

@keyframes scale-in-odd {
    0% {
        transform: translateY(calc(var(--r)/-2.5)) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateY(calc(var(--r)/-2.5)) scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-even {
    0% {
        transform: translateY(calc(var(--r)/2.5)) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateY(calc(var(--r)/2.5)) scale(1);
        opacity: 1;
    }
}